---

 const personalImageAlt = "Valentín Svedas"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-orange-500 dark:[&>p>strong]:text-orange-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 text-lg"
  >
    <p>
        My name is Valentin, and I am 24 years old. My first contact with programming was at UNICEN in Tandil, where I built a <strong>strong foundation in programming.</strong>
        I particularly enjoyed the web architecture course, which initially guided me towards becoming a back-end developer. Over time, I evolved into a <strong><em>full stack developer</em> </strong>
    </p>
    <p>
        I have a passion for sports and have been practicing calisthenics for 2 years. 💪<strong></strong>
    </p>
    <p>
        Currently, I am validating a project "Cooper". My goal is to develop a digital platform that enhances the business, providing a unique opportunity to further develop my programming skills and contribute to a meaningful project.
    </p>
    
  </div>

  <img width="200" height="200" src="/me.jpeg" alt={personalImageAlt} class="order-1 object-cover p-1 md:order-2 lg:p-2 lg:w-64 aspect-square object-center rounded-full h-96 w-96 border-2 border-orange-400 ">
  
</article>